<?xml version="1.0" encoding="UTF-8"?>
<robot name="038_padlock">
	<link name="base">
		<collision>
			<geometry>
				<mesh filename="..\vhacd\038_padlock_vhacd.obj" scale="1.0 1.0 1.0"/>
			</geometry>
			<origin xyz="0 0 0"/>
			<contact_coefficients mu="0.24" />
		</collision>
		<visual>
			<geometry>
				<mesh filename="..\vhacd\038_padlock_vhacd.obj" scale="1.0 1.0 1.0"/>
			</geometry>
			<origin xyz="0 0 0"/>
		</visual>
		<inertial>
			<mass value="0"/>
			<inertia ixx="0.0" ixy="0.0" ixz="-0.0" iyy="0.0" iyz="0.0" izz="0.0" />
			<origin xyz="-0.017076066944068925 0.009517388996023324 0.013626341536994411"/>
		</inertial>
	</link>
</robot>