<?xml version="1.0" encoding="UTF-8"?>
<robot name="070-b_colored_wood_blocks">
	<link name="base">
		<collision>
			<geometry>
				<mesh filename="..\vhacd\070-b_colored_wood_blocks_vhacd.obj" scale="1.0 1.0 1.0"/>
			</geometry>
			<origin xyz="0 0 0"/>
			<contact_coefficients mu="0.24" />
		</collision>
		<visual>
			<geometry>
				<mesh filename="..\vhacd\070-b_colored_wood_blocks_vhacd.obj" scale="1.0 1.0 1.0"/>
			</geometry>
			<origin xyz="0 0 0"/>
		</visual>
		<inertial>
			<mass value="0"/>
			<inertia ixx="0.0" ixy="-0.0" ixz="-0.0" iyy="0.0" iyz="0.0" izz="0.0" />
			<origin xyz="-0.018821263933948933 -0.008818559889628286 0.012633433817523469"/>
		</inertial>
	</link>
</robot>